<footer class="fixed bottom-0 left-0 z-20 p-0 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="/login" class="hover:underline">Designed and Developed by Qamar Ul Islam</a>.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/aboutus" class="mr-4 hover:underline md:mr-6 ">About Us</a>
        </li>
    </ul>
</footer>